In [1]:
import pandas as pd

In [2]:
# The path to our CSV file
file ="budget_data1.csv"

In [3]:
df = pd.read_csv(file)
df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [4]:
#* The total number of months included in the dataset
df['Date'].count()

86

In [5]:
# * The net total amount of "Profit/Losses" over the entire period
print("$"+str (df['Profit/Losses'].sum()))

$38382578

In [6]:
change=[]
previous=""
for index, row in df.iterrows():
    if(previous):
        change.append(row["Profit/Losses"]-previous)
    previous=row["Profit/Losses"]
avg="$"+str( round((sum(change)/len(change)),2) )
avg

'$-2315.12'

In [7]:
#* The greatest increase in profits (date and amount) over the entire period
greatest_Increase="$"+ str(max(change))
greatest_Increase

'$1926159'

In [8]:
#The greatest decrease in losses (date and amount) over the entire period

print("$"+str(min(change)))

$-2196167