In [14]:
import pandas as pd
df=pd.read_csv("election_data1.csv")

In [15]:
candidates=df["Candidate"].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [16]:
tot=df["Voter ID"].count()

In [17]:
df2=df.groupby(["Candidate"]).count()
df2["Percentage"]=(df2["County"]/tot)*100
result=df2[["Voter ID", "Percentage"]]
dfr = result.reset_index()
winner_amt=dfr["Voter ID"].max()
for i, r in dfr.iterrows():
    if(r["Voter ID"]==winner_amt):
        Winner=r["Candidate"]  
dfr=dfr.sort_values(by=['Percentage'],ascending=False)
dfr

  Candidate  Voter ID  Percentage
1      Khan    661583   63.093532
0    Correy    209046   19.936199
2        Li    146360   13.957991
3  O'Tooley     31586    3.012279

In [18]:
Winner

'Khan'

In [19]:
# Total Votes
tot

1048575